// Specific CSS for your home-page


.page-container {
  position: relative;
  width: 100vw;
  height: 90vh;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cocktail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: $body-font;
  // border: 1px dashed blue;

  &.show-page {

  }


}

.show-title {
  background: #ffffffcc;
  width: 100vw;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 4px 4px #00000033;
  text-shadow: 2px 4px 4px #00000033;
}

form {
  margin: 10px 30px;
  padding: 10px;
}

.btn {
  margin-top: 5px;
}

.btn-new {
  margin: 8px;
  color: $raisin-black;

}

.scale {
  &:hover {
    animation: scale 1s infinite;
  }
}

