

.card-index {
    width: 10%;
    height: 95%;
    margin: 20px 5px;
    box-shadow: 2px 4px 4px #00000033;
    transition: ease 0.5s;
    overflow: hidden;

    &:hover {
      box-shadow: 1px 1px 12px #00000077;
      border: 1px solid white;
    }

    .card-img {

      img {
        object-fit: cover;
      }
    }

    .card-body {
      display: none;
    }

    .card-btn {
      display: none;
    }
  }


.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.dose {
    font-size: 14px;
    font-weight: bold;
    color: #d04e46;
  }
}


.card-show {
  width: 80%;
  margin-top: 100px;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #00000033;
  transition: ease 0.5s;
  overflow: hidden;

  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 12px #00000077;
    border: 1px solid white;
  }
}
