
.header {
  background: $raisin-black;
  color: $champagne-white;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $headers-font;
  margin-bottom: 20px;

  h1 {
    font-size: 24px;
    margin-top: 8px;

    a {
    }
  }
}
